.banner.banner-items
	.banner_inn
		nav.breadcrumbs
			li.bc_itm: a.bc_lnk(href="#") Главная
			li.bc_itm: a.bc_lnk(href="#") Цены
		h2.title.title-banner Цены на услуги
		.caption Все направления нашей клиники. Опыт, профессионализм и приемлемые цены.
.container
	//- everything are inside of the SINGLE container
	main.main.items
		-
			items = [
				{ title: "Прием и консультация", txt: "Прием врача акушера - гинеколога высшей категории \nШваревой Евгении Александровны", img: 1 },
				{ title: "Диагностические услуги", txt: "Мазок на онкоцитологию, мазок на степень чистоты, видеокольпоскопия...", },
				{ title: "Манипуляции", txt: "Введение и удаление спирали", },
				{ title: "Малоинвазивные операции", txt: "Вскрытие абсцесса бартолиниевой железы, иссечение кисты бартолиниевой железы", },
				{ title: "Прием онколога, маммолога, торакального хирурга", txt: "Юркова Дмитрия Николаевича, врача высшей категории", img: 5 },
				{ title: "Оперативная хирургия", txt: "Удаление фиброаденомы молочной, липомы, эпидермальной кисты (атеромы)", },
				{ title: "Радиоволновая хирургия", txt: "Удаление кожных образований при помощи радиоволновой хирургии", img: 7 },
				{ title: "Малоинвазивные операции", txt: "Вскрытие абсцесса бартолиниевой железы, иссечение кисты бартолиниевой железы", },
				{ title: "Оперативная хирургия", txt: "Удаление фиброаденомы молочной, липомы, эпидермальной кисты (атеромы)", },
			];
		for val in items
			.item
				if val.img
					.item_img
						img(src='/assets/img/nf_itm_0'+val.img+'.jpg')
				.item_inf
					h3.title.title-item= val.title
					.item_txt= val.txt
					a.item_lnk(href="#") Смотреть

	ol.pagination
		for i in [1,2,3,4,5]
			if i == 4
				li.pg_pg: a.pg_lnk(href="#") ...
			else
				li.pg_pg(class= i==1?'active':''): a.pg_lnk(href="#")= i

