section.modal
	.modal__bg
	.order__bg
	.modal__in
		h2.title.title_sect.title_mod ОФОРМЛЕНИЕ ЗАЯВКИ
		form.order__form()
			input.input(type=text, placeholder="Сумма: например, 100 000 руб.")
			input.input(type=text, placeholder="Залог: какая недвижимость?")
			input.input(type=text, placeholder="Телефон: +7 999 2222222")
			input.btn.btn__order.btn__fix(type="submit" value="оформить заявку")
		a.close-modal(href='#modal-order', rel='modal:close')
		a.close-modal(href='#close-modal', rel='modal:close') Close



