// here goes sidebar
aside.sidebar
	.sidebar_head
		h4.title.title-sidebar Наши направления
	nav.menu.sidebar_menu
		li.smenu_itm
			a(href="#" class="smenu_lnk") Общая гинекология
		li.smenu_itm
			a(href="#" class="smenu_lnk") Онкогинекология
		li.smenu_itm
			a(href="#" class="smenu_lnk") Лечение шейки матки и вульвы
		li.smenu_itm
			a(href="#" class="smenu_lnk") Гинекологические и интимные операции
		li.smenu_itm.smenu-sub
			a(href="#" class="smenu_lnk") Гинеколог-эндокринолог
			ul.smenu_submenu
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") За пригоршню долларов
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Возвращение Сабаты
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Однажды на Диком западе
		li.smenu_itm.smenu-sub
			a(href="#" class="smenu_lnk") Онкология
			ul.smenu_submenu
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Нирвана
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Бегущий по лезвию бритвы
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Джонни-мнемоник
		li.smenu_itm.smenu-sub
			a(href="#" class="smenu_lnk") Маммология
			ul.smenu_submenu
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Хищник
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Красная жара
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Коммандо
		li.smenu_itm.smenu-sub
			a(href="#" class="smenu_lnk") Озонотерапия
			ul.smenu_submenu
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Однажды в Ирландии
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Святые из трущоб
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Залечь на дно в Брюгге
		li.smenu_itm.smenu-sub.is-open
			a(href="#" class="smenu_lnk") Пластическая хирургия
			ul.smenu_submenu
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Фейслифт
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Блефаропластика
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Отопластика
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Маммопластика
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Абдоминопластика
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Увулопалатофарингопластика
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Удаление шрамов и рубцов
				li.smenu_itm-sub
					a(href="#" class="smenu_lnk-sub") Интимная пластика
		li.smenu_itm
			a(href="#" class="smenu_lnk") Новообразования кожи

	section.smap
		.js-map
		.smap_info
			.smap_logo_wrap
				.logo.smap_logo
			.label.smap_label Клиника Нефертити
			h2.title.smap_addr #{adress.street}#[br]#{adress.extra}
			.hr
			.txt Записаться можно по телефону:
			| +7 982 450-10-10
