//- link(rel='stylesheet', media="all", href='assets/css/fonts.css', type='text/css')
link(rel='stylesheet', media="screen", href='/assets/css/style.css', type='text/css')
//- link(rel='stylesheet', media="handheld", href='assets/css/mobile.css', type='text/css')
//- link(rel='stylesheet', media="only screen and (max-width: 768px)", href='assets/css/mobile.css', type='text/css')
//- link(rel='stylesheet', media="only screen and (min-width: 20em) and (max-width: 48em)", href='assets/css/mobile.css', type='text/css')
//- link(href='assets/css/mobile.css', type='text/css', data-template-style='true', rel='stylesheet' media="screen and (max-width: 20em)")
//- link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700" rel="stylesheet")

