.container
	//- everything are inside of the SINGLE container
	main.main
		block sidebar
			include /_sidebar
		.content
			section.area.textpage
				.area_head
					.label Озонотерапия
					h2.title Биологические и биохимические основы озонотерапии
				.hr.hr-area-margin
				p.txt В современной медицине большое внимание уделяется немедикаментозным методам лечения. Это связано с увеличением количества людей, страдающих аллергией на лекарства, с резким ростом цен на эффективные антибиотики, с резистентностью микроорганизмов. Альтернативные методы лечения должны заменять или существенно снижать потребность в лекарственных препаратах, одновременно, способствуя улучшению функционирования различных органов и систем, активации защитных сил организма.
				h3.title.title-decor
					span.title-decor-l
					span.title-decor-c Можно выделить основные положения
					span.title-decor-r
				ol.area_list.-num
					li.area_list_itm.-num
						span.bold.caption Бактерицидное, вируцидное, фунгицидное действие.
						.txt Озон оказывает повреждающее влияние на плазматические мембраны бактериальных клеток. Одновременно с этим повышается чувствительность микроорганизма к антибиотикам. Озон может инактировать вирусы, расположенные даже внутри клеток.
					li.area_list_itm.-num
						span.bold.caption Активация метаболизма.
						.txt Использование озона усиливает потребление глюкозы тканями и органами, улучшает реологические свойства крови (её текучесть), увеличивает кислородную емкость плазмы и облегчает отдачу кислорода тканям, снижает степень тканевой гипоксии (недостатка кислородного обеспечения).
					li.area_list_itm.-num
						span.bold.caption Противовоспалительный эффект.
						.txt Озон окисляет соединения, участвующие в развитии и поддержании воспаления. Кроме того, он уменьшает тканевую гипоксию, восстанавливает обменные процессы в пораженных тканях и корригирует кислотный и электролитный баланс.
				h4.title Показания для озонотерапии:
				p.txt В лечении больных, перенесших ишемический инсульт, а также пациентов с дисциркуляторной энцефалопатией, вегетативной дистонией, мигренью, рассеяным склерозом в основном используются методики общей озонотерапии с низкой или средней концентрацией озона (внутривенное введение 200-400 мл ОФР при концентрации озона - 1-4 мкг/мл или ректальное введение 100-150 мл газовой смеси с концентрацией озона 10-25 мкг/мл). Курс лечения при этом составляет от 2-3 до 6-10 процедур, назначаемых, как правило, 1-2, реже 3 раза в неделю.
				.excerpt
					span.bold В случае геморрагического инсульта&nbsp;
					span использование озона в остром периоде противопоказано, т.к. происходящее при этом улучшение процессов микроциркуляции за счет изменения реологических свойств крови может усилить развитие патологического процесса.
				p.txt Озон активно применяется при лечении пациентов, страдающих сахарным диабетом 1 или 2 типа (Атясов Н.И., Газин И.А., 2000). Положительный эффект часто наблюдается уже после первых процедур. Под действием этого метода происходит улучшение общего состояния больных, снижается уровень глюкозы в крови, а также отмечается благоприятная динамика имеющихся проявлений периферической микроангиопатии и полинейропатии.
				h4.title Противопоказания к озонотерапии:
				ul.area_list
					li.area_list_itm Индивидуальная непереносимость озона (встречается очень редко)
					li.area_list_itm Заболевания, характеризующиеся снижением свертываемости крови (гемофилия)
					li.area_list_itm Судорожный синдром (эпилепсия)
					li.area_list_itm Заболевания щитовидной железы (тиреотоксикоз, гипертиреоз, гипокальциемия)
					li.area_list_itm Состояния гипокоагуляции (кровотечения из органов, тромбоцитопения) и период непосредственно после них
				.area_img
					img(src="/assets/img/nf_catalog_ozone.jpg")
				ul.area_list
					li.area_list_itm Индивидуальная непереносимость озона (встречается очень редко)
					li.area_list_itm Заболевания, характеризующиеся снижением свертываемости крови (гемофилия)
					li.area_list_itm Судорожный синдром (эпилепсия)
					li.area_list_itm Заболевания щитовидной железы (тиреотоксикоз, гипертиреоз, гипокальциемия)
					li.area_list_itm Состояния гипокоагуляции (кровотечения из органов, тромбоцитопения) и период непосредственно после них
				p.txt
					span.bold Противопоказания к озонотерапии относят к редким случаям,&nbsp;
					| поскольку они встречаются у пациентов в частных состояниях организма. Поэтому при выявлении противопоказания у пациента, можно пройти специальное лечение или выбрать альтернативный метод озонотерапии. Многолетний опыт применения озонотерапии подтверждает ее эффективность и безопасность лечения.




